/* Banner Principal */

.covercl {
    background-image: url("../assets/Banner1.jpg");
    height: 800px;
    display: flex;
    align-items: center;
}

.logo {
    height: 125px;
    display: flex;
    

}