.botellas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 0px 0px 0px;
    .botella1 {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 230px;
        margin: 0px 20px;
    }
    .botella2 {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 230px;
        margin: 0px 20px;
    }
    .botella3 {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 230px;
        margin: 0px 20px;
    }
}

.postBote {
    display: flex;
    height: 334px;
    background-image: url("/assets/postBotellas.svg");
    position: relative;
    top: -110px;
    margin-bottom: -190px;
}


/* Reajuste resolución <809 px> */

@media screen and (max-width: 809px) {
    .botellas {
        img {
            width: 180px;
            margin-bottom: 100px;
        }
    }
    
}

/* Reajuste resolución <731 px> */

@media screen and (max-width: 731px) {
    .botellas {
        img {
            width: 150px;
        }
    }
    
}

/* Reajuste a resolución <641px */

@media screen and (max-width: 641px) {

    .botellas {
        display: flex;
        flex-direction: column;
        img {
            width: 190px;
            margin-bottom: 100px;
        }
    }
    
}

