.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161819;
    max-width: 100%;
    flex-direction: column;

    .botonesPremios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -80px;
        img {
            width: 90%;
        }
    }
    .titleFooter {
        margin-top: 60px;
        color: #ffffff;
        font-family: "Cinzel";
        text-align: center;
        font-family: "Cinzel";
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 30px;
        
    }
    .araWhitePre{
        width: 203px;
    }

    .logoFoo{
        margin: 40px 0px 100px 0px;
        height: 125px;
        display: flex;
    }
}