.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161819;
    max-width: 100%;
    flex-direction: column;

    .botonesPremios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -80px;
        width: 100%;
        img {
            width: 90%;
        }
    }
    .titleFooter {
        margin-top: 60px;
        color: #ffffff;
        font-family: "Cinzel";
        text-align: center;
        font-family: "Cinzel";
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 30px;
        
    }
    .araWhitePre{
        max-height: 3px;
    }

    .logoFoo{
        margin: 40px 0px 100px 0px;
        height: 125px;
        display: flex;
    }
}

/* Reajuste a resolución >1080px*/

@media screen and (max-width: 1080px) {
    .footer {
        .botonesPremios {
            top: -60px;
    
        }
    }
    
}

/* Reajuste a resolución >860px*/

@media screen and (max-width: 860px) {
    .footer {
        .botonesPremios {
            top: -45px;
    
        }
    }
    
}



/* Reajuste a resolución >766px*/

@media screen and (max-width: 766px) {
    .footer {
        .titleFooter {
            letter-spacing: 20px;
    
        }
    }
    
}

/* Reajuste a resolución >615px*/

@media screen and (max-width: 615px) {
    .footer {
        .titleFooter {
            font-size: 25px;
        }
        .botonesPremios {
            top: -30px;
        }
    }
    
}

/* Reajuste a resolución >564px*/

@media screen and (max-width: 564px) {
    .footer {
        .titleFooter {
            font-size: 20px;
            letter-spacing: 15px;
    
        }
    }
    
}


/* Mobile <500px */
@media screen and (max-width: 499px) {
    .footer {
        .titleFooter {
            font-size: 20px;
            letter-spacing: 10px;
    
        }
        .logoFoo {
            margin: 75px 0px 100px 0px;
        }
        .botonesPremios {
            top: -20px;
        }
    }
}