.productSec {
    background-image: url("/assets/backProduct.svg");
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;


    .imgFoto {
        display: flex;
        // width: 100%;
        // max-width: 1208px;
        flex-direction: column;
        align-items: center;

        img {
            // max-width: 1208px;
            width: 80%;
            display: flex;
            position: relative;
            top: -175px;
            -webkit-box-shadow: 0px 0px 22px 7px rgba(0,0,0,0.6);
            -moz-box-shadow: 0px 0px 22px 7px rgba(0,0,0,0.6);
            box-shadow: 0px 0px 22px 7px rgba(0,0,0,0.6);   
        }

    }
}

.zoomin {
    display: flex;
    height: 429px;
    --bs-gutter-x: 0;
    margin: 0px 0px 200px 0px;
    .zoominU {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-image: url("/assets/botellaProd.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        margin-right: 25px;
        &:hover {
            background-image: url("/assets/botellaProdHover.png");
        }
    }
    .zoominD {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-image: url("/assets/caja.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        margin: 0px 20px 0px 5px;
        &:hover {
            background-image: url("/assets/cajaHover.png");
        }
        }
    }

.titleProdSec {
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    .titleProd {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-family: "Cinzel";
        font-size: 33px;
        font-weight: 700;
        letter-spacing: 30px;
    }
    .araWhiteProd{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3px;
    }
}


/* Reajuste a resolución <1300px */

@media screen and (max-width: 1300px) {
    .productSec {
        height: 1700px;
        margin-bottom: 120px;
        .zoominU {
            height: 429px;
        }
        .zoominD {
            height: 429px;
        }
    }

}

// /* Reajuste a resolución <1100 */

@media screen and (max-width: 1100px) {
    .productSec {
        height: 1650px;
        margin-bottom: 120px;
        .zoominU {
            height: 429px;
        }
        .zoominD {
            height: 429px;
        }
    }
    
    
}

// /* Reajuste a resolución <899 */

@media screen and (max-width: 899px) {
    .productSec {
        height: 1550px;
        margin-bottom: 120px;
        .araWhiteProd{
                width: 200px;
                height: 3px;
        }
        .zoominU {
            height: 429px;
        }
        .zoominD {
            height: 429px;
        }
    } 
    
}


// /* Reajuste a resolución <809 */

@media screen and (max-width: 809px) {
    .productSec {
        height: 1460px;
        margin-bottom: 120px;
    } 
    
    
}

/* Reajuste a resolución 731 */
@media screen and (max-width: 731px) {
    .productSec {
        height: 1220px;
        margin-bottom: 100px;
        .zoominU {
            height: 300px;
        }
        .zoominD {
            height: 300px;
        }
    } 
}

/* Reajuste a resolución 641 */
@media screen and (max-width: 641px) {
    .productSec {
        height: 2150px;
        margin-bottom: 100px;
        background-size: cover;
        .zoomin{
            position: relative;
            top: -100px;
            margin: 0px 0px 0px 0px;
            
        }
    } 
}

// /* Reajuste a resolución <600 */

// @media screen and (max-width: 600px) {
//     .productSec {
//         height: 60px;
//         margin-bottom: 120px;
//     } 
    
// }


/* Mobile <500px */
@media screen and (max-width: 499px) {
    .productSec {
        height: 2070px;
        .imgFoto {
            img {
                top: -120px;
            }
            
        }
        .titleProdSec {
            width: 99%;
            .titleProd {
                font-size: 25px;
                letter-spacing: 20px;
            }
        }
    }
    .postBote {
        height: 200px;
    }
}