@charset "UTF-8";
body {
  max-width: 100%;
  min-width: 100%;
}

/* Banner Principal */
.covercl {
  background-image: url("../assets/Banner1.jpg");
  height: 800px;
  display: flex;
  align-items: center;
}

.logo {
  height: 125px;
  display: flex;
}

/* Web */
.intro {
  background-color: #17181A;
  max-height: 615px;
  --bs-gutter-x: 0;
  display: flex;
}

.introM {
  display: none;
}

.imageIntro {
  display: flex;
  justify-content: center;
}
.imageIntro img {
  max-height: 615px;
  display: flex;
  margin-top: 69px;
}

.textIntro {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textIntro h1 {
  font-family: "Cinzel";
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 40px;
  display: flex;
  text-align: center;
}
.textIntro img {
  max-width: 200px;
  text-align: center;
}
.textIntro p {
  display: flex;
  margin-top: 40px;
  margin-right: 40px;
  font-size: 21px;
  font-family: "Figtree";
  font-weight: 300;
}

/* Reajuste a resolución >1003px*/
@media screen and (max-width: 1003px) {
  .imageIntro img {
    max-height: 550px;
    margin-top: 110px;
  }
  .textIntro {
    margin: 0px 50px 0px 20px;
  }
}
/* Reajuste a resolución >1003px*/
@media screen and (max-width: 1003px) {
  .imageIntro img {
    max-height: 550px;
    margin-top: 110px;
  }
  .textIntro {
    margin: 0px 50px 0px 20px;
  }
}
/* Reajuste a resolución >947px*/
@media screen and (max-width: 947px) {
  .imageIntro img {
    max-height: 450px;
    margin-top: 196px;
  }
  .textIntro {
    margin: 0px;
  }
}
/* Reajuste a resolución >868px*/
@media screen and (max-width: 868px) {
  .introM {
    display: flex;
    background-color: #17181A;
    max-height: 750px;
    --bs-gutter-x: 0;
    display: flex;
  }
  .intro {
    display: none;
  }
  .imageIntro img {
    max-height: 415px;
    margin-top: -15PX;
  }
  .textIntro {
    margin: 0px 50px;
  }
}
/* Reajuste a resolución >581px*/
@media screen and (max-width: 581px) {
  .introM {
    display: flex;
    background-color: #17181A;
    max-height: 750px;
    --bs-gutter-x: 0;
    display: flex;
  }
  .intro {
    display: none;
  }
  .imageIntro img {
    max-height: 415px;
    margin-top: -15PX;
  }
  .textIntro {
    margin: 0px 50px;
  }
}
/* Mobile <500px */
@media screen and (max-width: 499px) {
  .textIntro h1 {
    font-size: 28px;
    letter-spacing: 25px;
  }
  .introM {
    width: 100%;
  }
  .introM .textIntro {
    margin: 0px 25px;
  }
  .introM .textIntro p {
    margin-right: 0px;
  }
}
/* Web */
.secProceso {
  max-width: 100%;
  background-image: url("/assets/backProceso.svg");
  background-repeat: cover;
  background-size: auto;
  --bs-gutter-x: 0;
  display: flex;
  flex-direction: column;
  --bs-gutter-x: 0;
}
.secProceso .tituloProc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 130px 0px 0px 0px;
  height: 125px;
}
.secProceso .aragreen {
  height: 195px;
  margin: 0px 35px;
}
.secProceso .tiTex {
  font-family: "Cinzel";
  text-align: center;
  font-size: 33;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #577E8C;
}
.secProceso .t1Proc {
  font-weight: 400;
}
.secProceso .t2Proc {
  font-weight: 700;
}

.proceso {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 100px 20px;
  --bs-gutter-x: 0;
}
.proceso .titProces {
  font-family: "Cinzel";
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 30px;
  display: flex;
  justify-content: center;
}
.proceso .araBlack {
  max-width: 200px;
  display: flex;
}
.proceso .map {
  max-width: 820px;
  margin: 60px 0px 200px 0px;
}

/* Reajuste a resolución >581px*/
@media screen and (max-width: 895px) {
  .proceso {
    margin: 100px 40px;
  }
}
/* Reajuste a resolución >581px*/
@media screen and (max-width: 581px) {
  .secProceso .tituloProc {
    margin: 200px 0px 0px 0px;
  }
  .secProceso .t1Proc {
    font-size: 23px;
  }
  .secProceso .t2Proc {
    font-size: 23px;
  }
  .secProceso .aragreen {
    margin: 0px 25px;
  }
}
/* Mobile <500px */
@media screen and (max-width: 499px) {
  .proceso .titProces {
    font-size: 25px;
    letter-spacing: 20px;
  }
  .proceso .map {
    margin: 60px 0px 80px 0px;
  }
}
.productSec {
  background-image: url("/assets/backProduct.svg");
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
}
.productSec .imgFoto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productSec .imgFoto img {
  width: 80%;
  display: flex;
  position: relative;
  top: -175px;
  box-shadow: 0px 0px 22px 7px rgba(0, 0, 0, 0.6);
}

.zoomin {
  display: flex;
  height: 429px;
  --bs-gutter-x: 0;
  margin: 0px 0px 200px 0px;
}
.zoomin .zoominU {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../../assets/botellaProd.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin-right: 25px;
}
.zoomin .zoominU:hover {
  background-image: url("../../assets/botellaProdHover.png");
}
.zoomin .zoominD {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../../assets/caja.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  margin: 0px 20px 0px 5px;
}
.zoomin .zoominD:hover {
  background-image: url("../../assets/cajaHover.png");
}

.titleProdSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleProdSec .titleProd {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Cinzel";
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 30px;
}
.titleProdSec .araWhiteProd {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3px;
}

/* Reajuste a resolución <1300px */
@media screen and (max-width: 1300px) {
  .productSec {
    height: 1700px;
    margin-bottom: 120px;
  }
  .productSec .zoominU {
    height: 429px;
  }
  .productSec .zoominD {
    height: 429px;
  }
}
@media screen and (max-width: 1100px) {
  .productSec {
    height: 1650px;
    margin-bottom: 120px;
  }
  .productSec .zoominU {
    height: 429px;
  }
  .productSec .zoominD {
    height: 429px;
  }
}
@media screen and (max-width: 899px) {
  .productSec {
    height: 1550px;
    margin-bottom: 120px;
  }
  .productSec .araWhiteProd {
    width: 200px;
    height: 3px;
  }
  .productSec .zoominU {
    height: 429px;
  }
  .productSec .zoominD {
    height: 429px;
  }
}
@media screen and (max-width: 809px) {
  .productSec {
    height: 1460px;
    margin-bottom: 120px;
  }
}
/* Reajuste a resolución 731 */
@media screen and (max-width: 731px) {
  .productSec {
    height: 1220px;
    margin-bottom: 100px;
  }
  .productSec .zoominU {
    height: 300px;
  }
  .productSec .zoominD {
    height: 300px;
  }
}
/* Reajuste a resolución 641 */
@media screen and (max-width: 641px) {
  .productSec {
    height: 2150px;
    margin-bottom: 100px;
    background-size: cover;
  }
  .productSec .zoomin {
    position: relative;
    top: -100px;
    margin: 0px 0px 0px 0px;
  }
}
/* Mobile <500px */
@media screen and (max-width: 499px) {
  .productSec {
    height: 2070px;
  }
  .productSec .imgFoto img {
    top: -120px;
  }
  .productSec .titleProdSec {
    width: 99%;
  }
  .productSec .titleProdSec .titleProd {
    font-size: 25px;
    letter-spacing: 20px;
  }
  .postBote {
    height: 200px;
  }
}
.botellas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 90px 0px 0px 0px;
}
.botellas .botella1 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 230px;
  margin: 0px 20px;
}
.botellas .botella1:hover {
  filter: drop-shadow(0px 0px 20px #577E8C);
}
.botellas .botella2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 230px;
  margin: 0px 20px;
}
.botellas .botella2:hover {
  filter: drop-shadow(0px 0px 20px #577E8C);
}
.botellas .botella3 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 230px;
  margin: 0px 20px;
}
.botellas .botella3:hover {
  filter: drop-shadow(0px 0px 20px #577E8C);
}

.postBote {
  display: flex;
  height: 334px;
  background-image: url("/assets/postBotellas.svg");
  position: relative;
  top: -110px;
  margin-bottom: -190px;
}

/* Reajuste resolución <809 px> */
@media screen and (max-width: 809px) {
  .botellas img {
    width: 180px;
    margin-bottom: 100px;
  }
}
/* Reajuste resolución <731 px> */
@media screen and (max-width: 731px) {
  .botellas img {
    width: 150px;
  }
}
/* Reajuste a resolución <641px */
@media screen and (max-width: 641px) {
  .botellas {
    display: flex;
    flex-direction: column;
  }
  .botellas img {
    width: 190px;
    margin-bottom: 100px;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161819;
  max-width: 100%;
  flex-direction: column;
}
.footer .botonesPremios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -80px;
  width: 100%;
}
.footer .botonesPremios img {
  width: 90%;
}
.footer .titleFooter {
  margin-top: 60px;
  color: #ffffff;
  font-family: "Cinzel";
  text-align: center;
  font-family: "Cinzel";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 30px;
}
.footer .araWhitePre {
  max-height: 3px;
}
.footer .logoFoo {
  margin: 40px 0px 100px 0px;
  height: 125px;
  display: flex;
}

/* Reajuste a resolución >1080px*/
@media screen and (max-width: 1080px) {
  .footer .botonesPremios {
    top: -60px;
  }
}
/* Reajuste a resolución >860px*/
@media screen and (max-width: 860px) {
  .footer .botonesPremios {
    top: -45px;
  }
}
/* Reajuste a resolución >766px*/
@media screen and (max-width: 766px) {
  .footer .titleFooter {
    letter-spacing: 20px;
  }
}
/* Reajuste a resolución >615px*/
@media screen and (max-width: 615px) {
  .footer .titleFooter {
    font-size: 25px;
  }
  .footer .botonesPremios {
    top: -30px;
  }
}
/* Reajuste a resolución >564px*/
@media screen and (max-width: 564px) {
  .footer .titleFooter {
    font-size: 20px;
    letter-spacing: 15px;
  }
}
/* Mobile <500px */
@media screen and (max-width: 499px) {
  .footer .titleFooter {
    font-size: 20px;
    letter-spacing: 10px;
  }
  .footer .logoFoo {
    margin: 75px 0px 100px 0px;
  }
  .footer .botonesPremios {
    top: -20px;
  }
}/*# sourceMappingURL=stylesteq.css.map */